.logo {width: 100px;}
.custom-nav {padding: 15px;box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);height: 10vh; background-color: white;}
.input-group .form-control.for-search:focus {border: 1px solid black !important}
input.form-control.for-search {border: none; box-shadow: none;}
span#search-icon {font-size: 20px; border: none;background: white; color: #CDCDCD;}
.nav-line {margin: 5px 0 0 10px; padding: 0; display: inline;}
.custom-form {margin-right: 0.5vw;background-color: #FFF6F5;width: 20vw !important;border-radius: 0;border: none !important;}
.custom-form-icon {background-color: #FFF6F5;border-radius: 0;border: none !important;color: #FF6F61;}
.submitBtn {background-color: #F06B5E;color: #fff;border-radius: 0;}
::placeholder {color: #FF6F61 !important;}
.sidenav {height: 100vh;width: 300px;position: fixed;z-index: 1;top: 0;left: 0;
    border-color: #e7e7e7;overflow-x: hidden;padding-top: 100px}
.categoryBackground {background-color: #f8f8f8;}
.sidenav a {padding: 6px 8px 6px 16px;text-decoration: none;font-size: 25px;color: #818181;display: block;}
.sidenav a:hover {color: #f1f1f1;}
.cat-item {margin-left: 20px;color: #CDCDCD;font-weight: bold;font-size: 15px;padding: 5px; cursor: pointer;margin: 10px 0px 5px 30px;}
.cat-item:hover {color: #FF8672;text-decoration: none;}
.forLinkedin {bottom: 0;position: absolute;color: #CDCDCD;}
.forLinkedin i:hover {color: #FF8672;text-decoration: none;}
.forLinkedin i {font-size: 25px;color: #CDCDCD; margin-top: 20px;}
.forLinkedin i:hover {color: #2867B2;}
.item-login {margin-left: 0;}
#forlogin, #dashboard {color: #CDCDCD;font-weight: bold;font-size: 15px;cursor: pointer;}
#forlogin:hover, #dashboard:hover {color: #FF8672;text-decoration: none;}
.posts {padding-top: 50px;}
.card {width: 30%;display: inline-block;margin: 15px;height: 200px;background-size: cover; position: relative; 
    cursor: pointer;background-repeat: no-repeat;background-position: center;}
.hr {height: 3px; width: 100%; margin: 0; border: none;}
.card-content {width: 80%; position: absolute; bottom: 20px; left: 20px;}
.featcon {width: 100%;}
.post-title {color: white; font-weight: bold; font-size: 18px;}
p.post-cat {color: white;margin-bottom: 0;font-size: 8px;}
.for-opacity {background-color: #00000042 !important;width: 100%;display: inline-block;height: 200px;}
.model-cards {width: 100% !important;height: 100% !important;margin: 0 !important;padding: 0;}
.modal-content {height: auto;min-height: 100%;border: 0 none;border-radius: 0;}
.modal-fullscreen {padding: 0 !important;}
.sidemodal {width: 365px;background-color: #8FC0B6; padding-top: 50px;}
.post-title-modal {font-size: 20px;}
.for-cat {position: absolute; bottom: 20px; left: 30px;}
.sidemodal .post-title {font-size: 25px; padding-left: 30px;}
.for-cat .post-cat {font-size: 15px;}
.hr-modal {height: 6px;}
.formodal {padding-right: 0 !important;}
.cat-image {width: 100%;height: 50vh;}
.for-content-post .post-title {color: black; font-size: 20px}
.for-content-post {padding: 5%; position: relative;}
.icons i {margin: 5px; font-size: 20px;color: #CDCDCD;}
.form-in-modal {position: absolute; bottom: 0; padding: 0 !important;}
.modal-body {padding: 0;}
button.close {position: absolute; top: 20px; right: 20px; z-index: 10000; color:#F06B5E; font-size: 40px;}
#addcompany {display: none;}
#testfield {display: none;}
#forform {display: none; padding-top: 150px;}
.addcompform {width: 800px;padding: 40px;box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);}
.addcompform ::placeholder {color: #8FC0B6 !important;}
.addcompform input, .addcompform textarea {margin: 10px 0; border-radius: 0; 
    border: none; box-shadow: none; background-color: #cdece559;}
.btn.butaddcomp {background-color: #CDECE5; color: white; border: none; font-size: 20px;border-radius: 0; font-weight: bold;}
.butaddcomp:hover {background-color: #FF8672 !important;}
.butaddcomp a:hover {color: white; text-decoration: none;}
.butaddcomp a {color: white;}
#loginform {display: none; padding-top: 150px;}
#featured {padding-top: 150px;}
.featuredimage {height: 300px;background-size: cover;margin: 0 15px;}
.bigcard {display: flex; align-items: flex-end;}
.post-title.featured {color: black;}
.forfeatured i {margin: 5px; font-size: 25px;color: #CDCDCD;}
p.post-title:hover {color: #FF8672;}
.for-dashboard {width: 100%; margin: 20px;}
.for-dashboard th {padding: 20px;}
.for-dashboard td {padding: 10px;}
.approvedcomp h1 {text-align: center;}
.for-dashboard .butaddcomp {width: 100%;}
.success {font-size: 20px; background-color: #8FC0B6; color: white; padding: 10px; margin: 10px 0;}
.editform {padding: 100px; text-align: center;}
.btn.radiobtn {background-color: #cdece559;; border: none; border-radius: 0; margin: 5px; color: #8FC0B6;}
.radiobtn:hover {background-color: #FF8672 !important; color: white;}
.editform .input-group {display: block; padding: 20px;}
.toolbar {padding-top: 100px; text-align: right;}
#featured .success {text-align: center;}
.menumobile {background-color: white; width: 100%; position: relative; display: none !Important;}
/* .navbar-collapse.collapse {display: none !important;} */
.testtt {display: inline-block !important;}
.mosine {display: none;}
.newclass {display: flex !important;align-items: center;justify-content: center;}
#postadd, #postadd1 {display: none;}
.card-contents {display: flex; align-items: center; justify-content: center; color: #FF8672; flex-direction: column; width: 100%; height: 100%;}
.card-contents:hover {background-color: #FF8672; color: white;}
#postadd .post-plus {font-size: 40px;}
#postadd .post-add {font-size: 25px;}
i.fab.fa-facebook:hover {color: #3b5998;}
i.fab.fa-google-plus:hover {color: #DD4B39;}
i.fab.fa-instagram:hover {color: #C13584;}
i.fab.fa-reddit:hover {color: #FF4500;}
i.fab.fa-twitter-square:hover {color: #38A1F3;}
i.fab.fa-linkedin-in:hover {color: #0077B5;}
#postadd1 {background-image: url("../images/2laikabezboja@4x-8.png"); background-size: contain; background-repeat: no-repeat;}
#postadd1:hover {background-image: url("../images/2laikaboja@4x-8.png");}
.forlaika {display: flex;}
.linklaika {width: 100%;}
.close:focus, .close:hover {color: white;}


@media only screen and (min-width: 768) {
    .flex {display: flex; flex-direction: column; justify-items: center;}
    /* .navbar-collapse.collapse {display: none !important;} */
    
}

@media only screen and (max-width: 600px) { 
    .sidenav.fordesktop {display: none !important;}
    /* .forsearch {display: none;} */
    /* .nomobile {display: none;} */
    /* .formobilop {float: right;} */
    .formobilep .icon-bar {background-color: black;}
    .card {width: 100%; height: auto; margin: 15px 0;}
    /* .navbar-collapse.collapse {height: 100vh !important;} */
    /* .navbar-collapse.collapse {display: block !important;} */
    #featured {padding-top: 80px;}
    .colfeatured {position: absolute;width: 100%;color: white;}
    .colfeatured .post-title {color: white;}
    .featuredimage {margin: 0; height: 200px;}
}